<h1><%=@trip.city%></h1>
  <p>Interests:<%= @trip.interests %></a></p>  </div>
  <p>Notes:<%= @trip.notes %></a></p>  </div>

  <a href="/trips/<%=@trip.id%>/edit">Edit Destination</a>



  <br><br>
   <form action="/trips/<%=@trip.id%>" method="post">
     <input id="hidden" type="hidden" name="_method" value="delete">
     <input type="submit" value="Delete Trip">
  </form>
  <a href ="/trips"> Return to your trips</a><br>
